*.pyc
*.py~
*.launch~
*.cpp~
*.h~
*.srv~
*.msg~
*.xml~
*.txt~
*.swp
*.swo
*.swn
catkin_ws/devel/
catkin_ws/build/
catkin_ws/src/CMakeLists.txt
catkin_ws/src/hri/justina_gui/src/justina_gui-release/*
!catkin_ws/src/hri/justina_gui/src/justina_gui-release/ui_MainWindow.h
user_manual/auto/
user_manual/user_manual.aux
user_manual/user_manual.bbl
user_manual/user_manual.blg
user_manual/user_manual.fdb_latexmk
user_manual/user_manual.fls
user_manual/user_manual.log
user_manual/user_manual.toc