<launch>
  <arg name="launch_audio_capture" default="true" />

	<!-- doa from respeaker -->
	<node name="doa_test" pkg="resp_test" type="resp_test_node.py" output="screen"/>
	
	<!-- audio capture from microphone -->
  	<node name="audio_capture" pkg="audio_capture" type="audio_capture"
        if="$(arg launch_audio_capture)"
        respawn="true">
    <rosparam>
      device: hw:2,0
      format: wave
      channels: 1
      depth: 16
      sample_rate: 16000
    </rosparam>
	</node>

	
</launch>
