<launch>

  <arg name="position" default="true"/>  
  <arg name="torque" default="false"/>
  <arg name="torque_extension" default="false"/>
  <param name="robot_description_semantic" textfile="$(find justina_plugins)/robot_test/hsrb.srdf" />
  <!-- Include gazebo launch file rrbot_world.launch -->
  <include file="$(find justina_plugins)/launch/justina_world.launch" />


  <!-- Run joint position controllers if true -->
  <group if="$(arg position)">
    <!-- Include ros_control launch file to load joint position controllers -->
    <include file="$(find justina_plugins)/launch/justina_control.launch" />
   </group>
   <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/justina_gazebo.rviz"/>
   <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find knowledge)/navigation/occupancy_grids/bio_gazebo1.yaml"/>
   <node name="amcl" pkg="amcl" type="amcl" output="screen"/>-->
</launch>
