<launch>
	<include file="$(find surge_et_ambula)/launch/justina_simul.launch"/>
	<node name="ros_pyclips_services" pkg="knowledge_representation" type="ros_pyclips_services.py" output="screen" args="--mapping catering_comfort" />
	<node name="ros_pyclips_node" pkg="knowledge_representation" type="ros_pyclips_node.py" output="screen" />
	<node name="gpsr_test" pkg="act_pln" type="gpsr_test" output="screen"  args="-f $(find knowledge)/navigation/know_locations_pre_canada.txt 0 60 gpsr_pre_montreal.xml"/>
</launch>
