<launch>
    <remap from="/navigation/localization/amcl_pose" to="/navigation/localization/current_pose"/>   
    <param name="robot_description" command="cat $(find knowledge)/hardware/justina.xml" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <group ns="hardware">
        <node name="mobile_base" pkg="mobile_base" type="omni_base_node.py" output="screen" args="--port1 /dev/justinaRC15 --port2 /dev/justinaRC30"/>
        <node name="left_arm" pkg="arms" type="left_arm_node.py" output="screen" args="--port1 /dev/justinaLeftArm --baud1 1000000"/>
        <node name="right_arm" pkg="arms" type="right_arm_node.py" output="screen" args="--port1 /dev/justinaRightArm --baud1 1000000"/>
        <node name="head" pkg="head" type="head_node.py" output="screen" args="--port /dev/justinaHead --baud 1000000"/>
      	<node name="torso" pkg="torso" type="torso_simul_node.py" output="screen"/>
      	<node name="joy" pkg="joy" type="joy_node" output="screen"/>
        <node name="hokuyo_node" pkg="hokuyo_node" type="hokuyo_node" output="screen">
            <param name="port" type="string" value="/dev/justinaHokuyo" />
            <param name="frame_id" type="string" value="laser_link" />
        </node>
    </group>
    
    <node name="bbros_bridge" pkg="bbros_bridge" type="bbros_bridge_all.py" args="-f $(find bbros_bridge)/src/files/topics_inclusion_list.json"/>
	  
    <group ns="interoperation">
	     <node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
	  </group>
    
    <group ns="manipulation">
        <node name="ik_geometric" pkg="ik_geometric" type="ik_geometric_node" output="screen"/>
        <node name="manip_pln" pkg="manip_pln" type="manip_pln_node" output="screen" args="-f $(find knowledge)/manipulation/predef_poses/"/>
    </group>

</launch>
