<launch>
    <remap from="/hardware/mobile_base/odometry" to="/navigation/localization/base_pose_ground_truth"/>
    <remap from="/navigation/localization/amcl_pose" to="/navigation/localization/current_pose"/>
    <param name="robot_description" command="cat $(find knowledge)/hardware/justina.xml" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="gmapping_link_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0.0 0 0 0 map odom 100"/>
    <group ns="hardware">
           <node name="mobile_base" pkg="mobile_base" type="omni_base_node.py" output="screen" args="--port1 /dev/justinaRC15 --port2 /dev/justinaRC30"/>
           <node name="left_arm" pkg="arms" type="left_arm_node.py" output="screen" args="--port1 /dev/justinaLeftArm --baud1 115200"/>
           <node name="right_arm" pkg="arms" type="right_arm_simul_node.py" output="screen" args="--port1 /dev/justinaRightArm --baud1 57600"/>
           <node name="head" pkg="head" type="head_simul_node.py" output="screen" args="--port /dev/justinaHead --baud 1000000"/>
           <node name="torso" pkg="torso" type="torso_node.py" output="screen"/>
           <node name="joy" pkg="joy" type="joy_node" output="screen"/>
           <node name="laser_simul" pkg="laser_simulator" type="laser_simulator_node" output="screen"/>
    </group>
	<group ns="hri">
	       <node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/rviz_config.rviz"/>
           <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen"/>
           <node name="sp_gen" pkg="sp_gen" type="sp_gen_node" output="screen"/>
	</group>
	<group ns="interoperation">
	       <node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
	</group>
    <group ns="manipulation">
           <node name="ik_geometric" pkg="ik_geometric" type="ik_geometric_node" output="screen"/>
    </group>
	<group ns="navigation">
           <group ns="localization">
               <node name="map_server" pkg="map_server" type="map_server" output="screen" 
                     args="$(find knowledge)/navigation/occupancy_grids/biorobotica1.yaml"/>
               <node name="fake_localization" pkg="fake_localization" type="fake_localization"/>
           </group>
           <group ns="path_planning">
               <node name="simple_move" pkg="simple_move" type="simple_move_node" output="screen"/>
               <node name="path_calculator" pkg="path_calculator" type="path_calculator_node" output="screen"/>
           </group>
	</group>
</launch>
