<launch>
	<arg name="simul" default="false"/>
	<arg name="simul_pcl" default="false"/>
	<arg name="dynamic_map" default="false"/>
	<group ns="hardware">
		<!-- Nodes to the real justina robot -->
		<node name="mobile_base" pkg="mobile_base" type="omni_base.py" output="screen">
			<param name="simul" value="$(arg simul)"/>
			<param name="port1" value="/dev/justinaRC30"/>
			<param name="port2" value="/dev/justinaRC15"/>
		</node>
		<node name="right_arm" pkg="arms" type="right_arm_real_simul_node" output="screen" respawn="true">
			<param name="port" value="/dev/justinaRightArm"/>
			<param name="baud" value="200000"/>
			<param name="bulk_enable" value="true"/>
			<param name="write_sync_enable" value="true"/>
			<param name="simul" value="$(arg simul)"/>
		</node>
		<node name="left_arm" pkg="arms" type="left_arm_real_simul_node" output="screen" respawn="true">
			<param name="port" value="/dev/justinaLeftArm"/>
			<param name="baud" value="1000000"/>
			<param name="bulk_enable" value="true"/>
			<param name="write_sync_enable" value="true"/>
			<param name="simul" value="$(arg simul)"/>
		</node>
		<node name="head" pkg="head" type="head_node" output="screen">
			<param name="port" value="/dev/justinaHead"/>
			<param name="baud" value="1000000"/>
			<param name="bulk_enable" value="true"/>
			<param name="write_sync_enable" value="true"/>
			<param name="read_simul" value="false"/>
			<param name="simul" value="$(arg simul)"/>
		</node>
		<node name="torso" pkg="torso" type="torso_real_simul.py" output="screen">
			<param name="simul" value="$(arg simul)"/>
			<param name="port" value="/dev/justinaTorso"/>
		</node>
		<node unless="$(arg simul_pcl)" name="kinect_man" pkg="kinect_man" type="kinect_man_node" output="screen" args="--downsample_by 2"/>
		<node unless="$(arg simul)" name="urg_node" pkg="urg_node" type="urg_node" output="screen">
			<param name="serial_port" type="string" value="/dev/justinaHokuyo_H1009463" />
			<param name="frame_id" type="string" value="laser_link" />
			<remap from="scan" to="real_scan"/>
		</node>
		<node unless="$(arg simul)" name="hokuyo_rear" pkg="urg_node" type="urg_node" output="screen">
			<param name="serial_port" type="string" value="/dev/justinaHokuyo_H1303051" />
			<param name="frame_id" type="string" value="laser_link_rear" />
			<remap from="scan" to="real_scan_rear"/>
			<param name="angle_min" value="-1.5708"/>
			<param name="angle_max" value="1.5708"/>
		</node>
		<node name="laser_manager" pkg="laser_manager" type="laser_manager_node" output="screen">
			<param name="simul" value="$(arg simul)"/>
			<!-- param name="bag" value="$(find laser_manager)/bags/example.bag"/ -->
			<param name="dynamic_map" value="$(arg dynamic_map)"/>
		</node>
		<node name="laser_manager_rear" pkg="laser_manager" type="laser_manager_node" output="screen">
			<param name="rear" value="true"/>
			<param name="simul" value="$(arg simul)"/>
			<!-- param name="bag" value="$(find laser_manager)/bags/example.bag"/ -->
			<param name="dynamic_map" value="$(arg dynamic_map)"/>
			<remap from="real_scan" to="real_scan_rear"/>
			<remap from="scan" to="scan_rear"/>
		</node>
		<!-- Nodes to the simulation justina robot -->
		<node if="$(arg simul_pcl)" name="kinect_man" pkg="kinect_man" type="kinect_man_node" output="screen" args="--downsample_by 3 --bag $(find kinect_man)/videos/example.bag"/>	
		<node unless="$(arg simul)" name="webcam_man" pkg="webcam_man" type="webcam_man_node" output="screen">
			<param name="device" value="/dev/justinaWebCam"/>
			<param name="width" value="640"/>
			<param name="height" value="480"/>
		</node>
		<!-- Nodes to common modes -->
		<node name="joy" pkg="joy" type="joy_node" output="screen"/>
		<node name="init_arms" pkg="arms" type="initializing_arms_node.py" output="screen"/>
		<node name="kinect2laser" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" respawn="true">
		  <remap from="scan" to="/hardware/scan_from_kinect"/>
		  <remap from="cloud_in" to="/hardware/point_cloud_man/rgbd_wrt_robot_downsampled"/>
		  <param name="min_height" value="0.05"/>
		</node>
		<node name="laser_mixer" pkg="laser_mixer" type="laser_mixer_node" output="screen"/>
	</group>
</launch>
