<launch>
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>
	<group ns="navigation">
		<group ns="localization">
			<node name="map_server" pkg="map_server" type="map_server" output="screen"
				args="$(find knowledge)/navigation/occupancy_grids/bioroboanexo4.yaml"/>
			<node name="loc_amcl" pkg="amcl" type="amcl" output="screen" args="scan:=/hardware/scan">
				<!-- param name="odom_alpha1" value="0.6"/>
				<param name="odom_alpha2" value="0.6"/>
				<param name="odom_alpha3" value="0.6"/>
				<param name="odom_alpha4" value="0.6"/>
				<param name="odom_alpha5" value="0.6"/>
				<param name="recovery_alpha_slow" value="0.001"/>
				<param name="recovery_alpha_fast" value="0.1"/>
				<param name="initial_pose_x" value="$(arg initial_pose_x)"/>
				<param name="initial_pose_y" value="$(arg initial_pose_y)"/>
				<param name="initial_pose_a" value="$(arg initial_pose_a)"/>
				<param name="update_min_a" value="0.3"/>
				<param name="laser_min_range" value="0.3"/>
				<param name="odom_model_type" value="omni"/ -->
				<param name="transform_tolerance" value="0.2" />
     	 			<param name="gui_publish_rate" value="10.0"/>
           	 		<param name="save_pose_rate" value="0.5"/>
	          		<param name="laser_max_beams" value="30"/>
		        	<param name="min_particles" value="500"/>
			      	<param name="max_particles" value="5000"/>
			        <param name="kld_err" value="0.05"/>
				<param name="kld_z" value="0.99"/>
				<param name="odom_model_type" value="omni-corrected"/>
				<param name="odom_alpha1" value="0.005"/>
				<param name="odom_alpha2" value="0.005"/>
				<!-- translation variance, m -->
				<param name="odom_alpha3" value="0.01"/>
				<param name="odom_alpha4" value="0.005"/>
				<param name="odom_alpha5" value="0.003"/>
				<param name="laser_z_hit" value="0.5"/>
				<param name="laser_z_short" value="0.05"/>
				<param name="laser_z_max" value="0.05"/>
				<param name="laser_z_rand" value="0.5"/>
				<param name="laser_sigma_hit" value="0.2"/>
				<param name="laser_lambda_short" value="0.1"/>
				<param name="laser_lambda_short" value="0.1"/>
				<param name="laser_model_type" value="likelihood_field"/>
				<!-- <param name="laser_model_type" value="beam"/> -->
				<param name="laser_likelihood_max_dist" value="2.0"/>
				<param name="update_min_d" value="0.2"/>
				<param name="update_min_a" value="0.5"/>
				<param name="odom_frame_id" value="odom"/>
				<param name="resample_interval" value="1"/>
				<param name="transform_tolerance" value="0.1"/>
				<param name="recovery_alpha_slow" value="0.0"/>
				<param name="recovery_alpha_fast" value="0.0"/>
				<param name="initial_pose_x" value="$(arg initial_pose_x)"/>
				<param name="initial_pose_y" value="$(arg initial_pose_y)"/>
				<param name="initial_pose_a" value="$(arg initial_pose_a)"/>
				<param name="initial_cov_xx" value="0.1"/> 
				<param name="initial_cov_yy" value="0.1"/>
				<param name="initial_cov_aa" value="0.1"/>
			</node>
		</group>

		<group ns="path_planning">
			<node name="simple_move" pkg="simple_move" type="simple_move_node" output="screen" args="--move_head"/>
			<node name="path_calculator" pkg="path_calculator" type="path_calculator_node" output="screen"/>
		</group>

		<group ns="obs_avoid">
			<!-- This is to normal navigation -->
			<!-- node name="obstacle_detector" pkg="obs_detect" type="obs_detect_node" respawn="true" output="screen" args="--> <!-- z_threshold 0.1 --> <!-- max_x 0.7"/ -->
			<!-- This is to detect the small objects and closest objects -->
			<node name="obstacle_detector" pkg="obs_detect" type="obs_detect_node" respawn="true" output="screen" args="--max_x 0.8 --z_threshold 0.06"/>
		</group>
		<node name="mvn_pln" pkg="mvn_pln" type="mvn_pln_node" output="screen" args="--max_attempts 25"/>
	</group>
</launch>
