<launch>
	<remap from="/navigation/localization/amcl_pose" to="/navigation/localization/current_pose"/>
	<param name="robot_description" command="cat $(find knowledge)/hardware/justina.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<group ns="hardware">
		<node name="mobile_base" pkg="mobile_base" type="omni_base.py" output="screen" args="--port1 /dev/justinaRC30 --port2 /dev/justinaRC15"/>
		<node name="left_arm" pkg="arms" type="left_arm_node.py" output="screen" args="--port1 /dev/justinaLeftArm --baud1 200000" respawn="true"/>
		<node name="right_arm" pkg="arms" type="right_arm_node.py" output="screen" args="--port1 /dev/justinaRightArm --baud1 200000" respawn="true"/>
		<node name="init_arms" pkg="arms" type="initializing_arms_node.py" output="screen"/>
		<node name="head" pkg="head" type="head_node.py" output="screen" args="--port /dev/justinaHead --baud 1000000"/>
		<!-- <node name="torso" pkg="torso" type="torso_simul_node.py"/> -->
		<node name="torso" pkg="torso" type="torso_node_A.py" output="screen"/>
		<node name="joy" pkg="joy" type="joy_node" output="screen"/>
		<node name="kinect_man" pkg="kinect_man" type="kinect_man_node" output="screen"/>
		<node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
			<param name="serial_port" type="string" value="/dev/justinaHokuyo" />
			<param name="frame_id" type="string" value="laser_link" />
		</node>
		<node name="hokuyo_rear" pkg="urg_node" type="urg_node" output="screen">
			<param name="serial_port" type="string" value="/dev/justinaHokuyoRear" />
			<param name="frame_id" type="string" value="laser_link_rear" />
			<remap from="scan" to="scan_rear" />
		</node>
	</group>
</launch>
