<launch>
	<param name="robot_description" command="cat $(find knowledge)/hardware/justina.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<include file="$(find surge_et_ambula)/launch/justina_hardware.launch">
		<arg name="simul" default="true"/>
	</include>	
	<group ns="hri">
                <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/rviz_config.rviz"/ -->
                <!-- node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen"
                        args="-p $(find knowledge)/navigation/"/ -->
                <node name="jrviz" pkg="jrviz" type="jrviz_node" args="-d $(find knowledge)/hri/rviz_config.rviz -p $(find knowledge)/navigation/"/>
		<node name="leg_finder" pkg="leg_finder" type="leg_finder_node" args="--hyp" output="screen"/>
		<node name="human_follower" pkg="human_follower" type="human_follower_node" args="--move_head" output="screen"/>
	</group>
	<group ns="interoperation">
		<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
	</group>
	<group ns="manipulation">
		<node name="ik_geometric" pkg="ik_geometric" type="ik_geometric_node" output="screen"/>
		<node name="manip_pln" pkg="manip_pln" type="manip_pln_node" output="screen" args="-f $(find knowledge)/manipulation/predef_poses/"/>
	</group>

	<include file="$(find surge_et_ambula)/launch/justina_navigation.launch"/>

	<group ns="vision">
		<node name="face_recog" pkg="face_recog" type="face_recog_node" output="screen"/>
		<node name="obj_reco" pkg="obj_reco" type="obj_reco_node" output="screen" args="--db $(find obj_reco)/TrainingDir/"/>
		<node name="hand_detect_in_BB" pkg="hand_recog" type="hand_detect_in_BB_node" output="screen"/>
		<node name="cube_segmentation" pkg="cubes_segmentation" type="cubes_segmentation_node" output="screen"/>
	</group>
	<group ns="knowledge">
		<node name="ltm" pkg="knowledge" type="ltm_node" output="screen"
			args="-f $(find knowledge)/navigation/known_locations_bioroboanexo.txt"/>
		<node name="pred_ques" pkg="knowledge" type="pred_ques_node" output="screen"
			args="-f $(find knowledge)/speech_recognition/Questions.xml"/>
		<node name="pred_arms_poses" pkg="knowledge" type="pred_poses_mani_node" output="screen"
			args="-f $(find knowledge)/manipulation/predef_poses/"/>
	</group>
</launch>
