<launch>
	<group ns="knowledge">
		<node name="ltm" pkg="knowledge" type="ltm_node" output="screen"
    			args="-f $(find knowledge)/navigation/known_locations_pre_madrid.txt -d $(find knowledge)/navigation/known_delimitation_pre_madrid.txt"/>
		<node name="pred_ques" pkg="knowledge" type="pred_ques_node" output="screen"
			args="-f $(find knowledge)/speech_recognition/Questions.xml"/>
		<node name="pred_arms_poses" pkg="knowledge" type="pred_poses_mani_node" output="screen"
			args="-f $(find knowledge)/manipulation/predef_poses/"/>
		<node name="env_des" pkg="env_des" type="environment_description_node" output="screen">
			<param name="configFile" value="$(find env_des)/config/bioroboanexo_config.yaml"/>
			<param name="modelsPath" value="$(find env_des)/models/"/>
		</node>
	</group>
</launch>
