<launch>
    <remap from="/hardware/mobile_base/odometry" to="/navigation/localization/base_pose_ground_truth"/>
    <remap from="/navigation/localization/amcl_pose" to="/navigation/localization/current_pose"/>
    <param name="robot_description" command="cat $(find knowledge)/hardware/justina.xml" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    <node name="gmapping_link_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0.0 0 0 0 map odom 100"/>
    <group ns="hardware">
           <node name="mobile_base" pkg="mobile_base" type="omni_base_old.py" output="screen" args="--simul --port1 /dev/justinaRC15 --port2 /dev/justinaRC30"/>
           <node name="left_arm" pkg="arms" type="left_arm_simul_node.py" output="screen"/>
           <node name="right_arm" pkg="arms" type="right_arm_simul_node.py" output="screen"/>
           <node name="head" pkg="head" type="head_simul_node.py" output="screen"/>
           <node name="torso" pkg="torso" type="torso_simul_node.py" output="screen"/>
           <node name="joy" pkg="joy" type="joy_node" output="screen"/>
           <node name="laser_simul" pkg="laser_simulator" type="laser_simulator_node" output="screen"/>
           <node name="point_cloud_man" pkg="kinect_man" type="kinect_man_node" output="screen" args="--defpath $(find knowledge)/hardware/point_clouds/"/>
    </group>
    <group ns="hri">
           <node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/rviz_vision.rviz"/>
           <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen"/>
           <node name="sp_gen" pkg="sp_gen" type="sp_gen_node" output="screen"/>
           <node name="leg_finder" pkg="leg_finder" type="leg_finder_node" output="screen"/>
           <node name="human_follower" pkg="human_follower" type="human_follower_node" output="screen"/>
           <node name="qr_reader" pkg="qr_reader" type="qr_reader" output="screen"/>
    </group>
    <node name="bbros_bridge" pkg="bbros_bridge" type="bbros_bridge_all.py" args="-f $(find bbros_bridge)/src/files/topics_inclusion_list.json"/>
    <group ns="interoperation">
        <node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
    </group>
    <group ns="manipulation">
           <node name="ik_geometric" pkg="ik_geometric" type="ik_geometric_node" output="screen"/>
           <node name="manip_pln" pkg="manip_pln" type="manip_pln_node" output="screen" args="-f $(find knowledge)/manipulation/predef_poses/"/>
    </group>
    <group ns="navigation">
           <group ns="localization">
               <node name="map_server" pkg="map_server" type="map_server" output="screen" 
                     args="$(find knowledge)/navigation/occupancy_grids/arenaTMR2017_4.yaml"/>
               <node name="fake_localization" pkg="fake_localization" type="fake_localization"/>
           </group>
           <group ns="path_planning">
               <node name="simple_move" pkg="simple_move" type="simple_move_node" output="screen" args="--move_head"/>
               <node name="path_calculator" pkg="path_calculator" type="path_calculator_node" output="screen"/>
           </group>
           <!--<group ns="obs_avoid">
               <node name="obstacle_detector" pkg="obs_detect" type="obs_detect_node" output="screen"/>
           </group>-->
           <node name="mvn_pln" pkg="mvn_pln" type="mvn_pln_node" output="screen" args="-f $(find knowledge)/navigation/known_locations.txt" />
    </group>
    <group ns="vision">
           <node name="face_recog" pkg="face_recog" type="face_recog_node" output="screen"/>
           <node name="skeleton_finder" pkg="skeleton_finder" type="skeleton_finder_node" output="screen"/>
           <node name="obj_reco" pkg="obj_reco" type="obj_reco_node" output="screen" args="-f /home/$(env USER)/objs/"/>
           <node name="pano_maker" pkg="pano_maker" type="pano_maker_node" output="screen" args="--d"/> 
           <!-- <node name="roi_tracker" pkg="roi_tracker" type="roi_tracker_node" output="screen"/> -->
           <!-- <node name="line_finder" pkg="line_finder" type="line_finder_node" output="screen" /> -->
    </group>
	 <group ns="knowledge">	
		<node name="ltm" pkg="knowledge" type="ltm_node" output="screen"
		args="-f $(find knowledge)/navigation/known_locations_TMR2017.txt"/>
	 </group>
</launch>
