<launch>
	<param name="robot_description" command="cat $(find knowledge)/hardware/justina_old.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<arg name="dynamic_map" default="true"/>
	<include file="$(find surge_et_ambula)/launch/justina_hardware.launch">
		<arg name="simul" value="false"/>
		<arg name="simul_pcl" value="false"/>
		<arg name="dynamic_map" value="$(arg dynamic_map)"/>
	</include>
	<group ns="hri">
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/rviz_mapping.rviz"/>
		<node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen"
			args="-p $(find knowledge)/navigation/"/>
	</group>
	<group ns="interoperation">
		<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_teleop_node.py" output="screen" />
	</group>
	<include file="$(find surge_et_ambula)/launch/justina_navigation.launch">
		<arg name="dynamic_map" value="$(arg dynamic_map)"/>
	</include>
</launch>
