<launch>
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>
	<arg name="dynamic_map" default="false"/>
	<param name="robot_description" command="cat $(find knowledge)/hardware/justina_old.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<include file="$(find surge_et_ambula)/launch/octo_base_hardware.launch">
		<arg name="simul" value="false"/>
		<arg name="simul_pcl" value="false"/>
		<arg name="dynamic_map" value="$(arg dynamic_map)"/>
	</include>	
	<group ns="hri">
                <node name="rviz" pkg="rviz" type="rviz" args="-d $(find knowledge)/hri/rviz_config.rviz"/>
                <!-- node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen"
                        args="-p $(find knowledge)/navigation/"/ -->
                <node name="jrviz" pkg="jrviz" type="jrviz_node" args="-d $(find knowledge)/hri/rviz_config.rviz -p $(find knowledge)/navigation/ -dv $(find knowledge)/hri/rviz_config_nav.rviz"/>
		<node name="sp_gen" pkg="sp_gen" type="sp_gen_node" output="screen"/>
		<node name="leg_finder" pkg="leg_finder" type="leg_finder_node" output="screen" args="--hyp">
			<param name="obst_xmin" value="0.115"/>
			<param name="obst_xmax" value="0.435"/>
			<param name="obst_ymin" value="-0.26"/>
			<param name="obst_ymax" value="0.26"/>
			<param name="obst_div" value="9"/>
		</node>
		<node name="leg_finder_rear" pkg="leg_finder" type="leg_finder_node" output="screen">
			<param name="frame_id" value="laser_link_rear" type="string"/>
			<remap from="/hardware/scan" to="/hardware/scan_rear" />              
			<remap from="/hri/leg_finder/enable" to="/hri/leg_finder/enable_rear" />
			<remap from="/hri/leg_finder/leg_poses" to="/hri/leg_finder/leg_poses_rear" />
			<remap from="/hri/leg_finder/legs_found" to="/hri/leg_finder/legs_found_rear" />
		</node>
		<node name="human_follower" pkg="human_follower" type="human_follower_node" output="screen"/>
		<node name="qr_reader" pkg="qr_reader" type="qr_reader" output="screen"/>
	</group>

	<node name="bbros_bridge" pkg="bbros_bridge" type="bbros_bridge_all.py" args="-f $(find bbros_bridge)/src/files/topics_inclusion_list.json"/>

	<group ns="interoperation">
		<node name="joystick_teleop" pkg="joystick_teleop" type="joystick_logitech.py" output="screen" />
	</group>

	<group ns="manipulation">
		<node name="ik_geometric" pkg="ik_geometric" type="ik_geometric_node" output="screen"/>
		<node name="manip_pln" pkg="manip_pln" type="manip_pln_node" output="screen" args="-f $(find knowledge)/manipulation/predef_poses/"/>
	</group>

	<include file="$(find surge_et_ambula)/launch/justina_navigation.launch">
		<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
		<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
		<arg name="dynamic_map" value="$(arg dynamic_map)"/>
	</include>

	<group ns="vision">
		<node name="face_recog" pkg="face_recog" type="face_recog_node" output="screen"/>
		<!-- node name="skeleton_finder" pkg="skeleton_finder" type="skeleton_finder_node" output="screen"/-->
		<node name="openpose_node" pkg="openpose" type="open_pose_node" output="screen">
			<param name="debug_mode" value="false"/>
			<param name="file_links_config" value="$(find openpose)/OpenPoseConfig.xml"/>
			<param name="model_folder" value="$(env OPENPOSE_HOME)/models/"/>
			<param name="net_resolution" value="480x320"/>
			<remap from="/vision/openpose/enable_estimate_pose" to="/vision/skeleton_finder/enable_tracking"/>
		</node>
		<node name="gesture_recog_skeleton" pkg="gesture_recog_skeleton" type="gesture_recog_node" output="screen">
			<param name="gesture_method" value="1"/>
			<!-- This params are to waving detect -->
			<param name="num_frames" value="10"/>
			<param name="thr_waving_motion" value="0.3"/>
			<param name="thr_to_person" value="0.3"/>
			<param name="time_elapsed_remove" value="10.0"/>
		</node>
		<node name="obj_reco" pkg="obj_reco" type="obj_reco_node" output="screen" args="--db $(find obj_reco)/TrainingDir/"/>
		<node name="hand_detect_in_BB" pkg="hand_recog" type="hand_detect_in_BB_node" output="screen"/>
	</group>
	<include file="$(find surge_et_ambula)/launch/justina_knowledge.launch"/>
</launch>
