<launch>
        <group ns="hardware">
               <node name="mobile_base" pkg="mobile_base" type="mobile_base_node.py" output="screen" args="--port /dev/ttyACM0"/>
               <node name="joystick" pkg="joy" type="joy_node"/>
               <node pkg="hokuyo_node" name="hokuyo_node" type="hokuyo_node" output="screen">
               		<param name="port" type="string" value="/dev/ttyACM1" />
                    <param name="frame_id" type="string" value="base_link" />
               </node>
        </group>
</launch>