<launch>
	<include file="$(find surge_et_ambula)/launch/justina_simul.launch"/>
	<group ns="vision">
		<node name="pano_maker" pkg="pano_maker" type="pano_maker_node" output="screen" args="--d"/>
	</group>

	<group ns="audio">
		<node name="audio_source" pkg="audio_source" type="audio_source_node_v1.py" output="screen"/>
	</group>
</launch>
