<launch>
	<include file="$(find surge_et_ambula)/launch/justina.launch">
		<!-- arg name="initial_pose_x" value="7.94"/>
		<arg name="initial_pose_y" value="4.0"/>
		<arg name="initial_pose_a" value="1.5708"/ -->
	
		<!-- arg name="initial_pose_x" value="5.69"/>
		<arg name="initial_pose_y" value="2.85"/>
		<arg name="initial_pose_a" value="1.5708"/ -->
		
		<arg name="initial_pose_x" value="0.0"/>
		<arg name="initial_pose_y" value="0.0"/>
		<arg name="initial_pose_a" value="0.0"/>

		<arg name="head_offset" value="-0.02"/>
	</include>
	<group ns="knowledge">
		<node name="rospy_clips_node" pkg="knowledge_representation" type="ros_pyclips_node.py" output="screen" />
		<node name="rospy_clips_services" pkg="knowledge_representation" type="ros_pyclips_services.py" output="screen" args="--mapping gpsr"/>
	</group>
</launch>

