<launch>
	<include file="$(find surge_et_ambula)/launch/justina.launch">
		<!-- arg name="initial_pose_x" value="6.65"/>
		<arg name="initial_pose_y" value="-1.38325"/>
		<arg name="initial_pose_a" value="0"/ -->
	</include>
	<group ns="knowledge">
		<node name="rospy_clips_node" pkg="knowledge_representation" type="ros_pyclips_node.py" output="screen" />
		<node name="rospy_clips_services" pkg="knowledge_representation" type="ros_pyclips_services.py" output="screen" args="--mapping gpsr"/>
	</group>
</launch>

