<?xml version="1.0"?>
<opencv_storage>
<face_cascade_name>/usr/share/opencv/haarcascades/haarcascade_frontalface_alt.xml</face_cascade_name>
<eyes_cascade_name1>/usr/share/opencv/haarcascades/haarcascade_mcs_lefteye.xml</eyes_cascade_name1>
<eyes_cascade_name2>/usr/share/opencv/haarcascades/haarcascade_mcs_righteye.xml</eyes_cascade_name2>
<mouth_cascade_name>/usr/share/opencv/haarcascades/haarcascade_mcs_mouth.xml</mouth_cascade_name>
<nose_cascade_name>/usr/share/opencv/haarcascades/haarcascade_mcs_nose.xml</nose_cascade_name>
<trainingName>src/vision/face_recog/src/recfac.xml</trainingName>
<trainingDataPath>src/vision/face_recog/src/data</trainingDataPath>
<trainingData>src/vision/face_recog/src/eigenfaces.xml</trainingData>
<genderTrainingData>src/vision/face_recog/src/efgender.xml</genderTrainingData>
<smileTrainingData>src/vision/face_recog/src/efsmile.xml</smileTrainingData>
<maxErrorThreshold>2.0000000000000000e-01</maxErrorThreshold>
<minNumFeatures>3</minNumFeatures>
<scaleScene>0</scaleScene>
<debugmode>0</debugmode>
<minFacesVectorSize>10</minFacesVectorSize>
<maxFacesVectorSize>50</maxFacesVectorSize>
<use3D4recognition>1</use3D4recognition>
</opencv_storage>
